.contin-div{
    display: grid;
    grid-template-columns: repeat(2, 1fr)
}

.img-div1{
    margin: auto;
    margin-left: 30%;
}


@media only screen and (max-width: 600px)  {
    
    .contin-div{
        display: grid;
        grid-template-columns: repeat(1, 1fr)
    }
    
    .img-div1{
        margin: auto;
        margin-left: 0%;
    }
  
  
  
  }